* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #121212;
    color: #F2F2F2;
    line-height: 1.6;
    font-size: 16px;
    scroll-behavior: smooth;
}

header {
    background-color: #101010;
    padding: 20px 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
    top: 0;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo a {
    font-size: 1.8rem;
    font-weight: bold;
    color: #E63946;
    text-transform: uppercase;
    text-decoration: none;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li {
    position: relative;
}

.menu li a {
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    text-transform: uppercase;
    transition: color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.menu li a:hover {
    color: red;
    transform: scale(1.1);
}

.category {
    padding: 80px 20px;
    text-align: center;
    background-color: #181818;
    margin-bottom: 40px;
}

.category h2 {
    font-size: 2.5rem;
    color: transparent;
    margin-bottom: 40px;
    font-weight: 700;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    position: relative;
}

.gallery a {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.gallery a:hover img {
    transform: scale(1.05);
}

.image-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(20px);
}

.gallery a:hover .image-text {
    opacity: 1;
    transform: translateY(0);
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: black;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 999;
}


#back-to-top:hover {
    background-color: red;
    transform: scale(1.1);
}


#back-to-top:active {
    transform: scale(0.9);
}

footer {
    background-color: #101010;
    color: #999;
    text-align: center;
    padding: 30px;
    position: relative;
    margin-top: 40px;
}

footer p {
    font-size: 14px;
    color: #ccc;
}


@media (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {

    header {
        padding: 55px;
    }

    .menu {
        display: block;
        text-align: center;
        margin-top: 20px;
    }

    .menu li {
        display: inline-block;
        margin-right: 20px;
    }

    .gallery {
        grid-template-columns: 1fr;
    }


}